.cata{
    position: relative;
    padding: 15px;
    margin-top: 25px;
    background: #eae672;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.descripcio{
    font-style: italic;
    text-align: center;
}

.peu{
    position: absolute;
    right: 15px;
    bottom: 0px;
}

.valoracio{
    //contenidor de la vista visualitzar_valoracions
    padding: 30px;
    background-color:darkkhaki;
    box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.46);
    margin-bottom: 45px;
}

.estrelles{
    font-size: 24px;
    color:darkcyan;
    span{
        color:darkslateblue;
    }
    line-height: 30px;
}

.valoracions{
    //taula on es mostren les valoracions
   
    margin: auto;
    margin-top: 25px;
    text-align: center;
    tr:nth-child(odd){
        background-color:lightskyblue;
    }
    th{
        background-color: lightgreen;
        width:150px;
    }
    th:first-child{
        width: 40px;
    }
    tr{
        height: 30px;
    }
    background-color: lightblue;
}

.participacio{//div que contindrà tota la informació de les participacions
   // border: 1px solid red;
    overflow-y: scroll;
    height: 100%;
   // background-color: white;
}